{%extends 'base.html' %}

{%block content %}

      <section class="sub-header">
          <nav>
            <a href="index.html"><img src="static/img/academic.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                  <li><a href="{{url_for('index') }}">HOME</a></li>
                  <li><a href="{{url_for('about') }}">ABOUT</a></li>
                  <li><a href="{{url_for('services') }}">SERVICES</a></li>
                  <li><a href="{{url_for('contact') }}">CONTACT</a></li>
                  <li><a href="{{url_for('signin') }}">SIGN UP AS A TUTOR</a></li>
                  <li><a href="{{url_for('tutee') }}">SIGN UP AS A TUTEE</a></li>
                  <li><a href="{{url_for('login') }}">LOG IN</a></li>
                  <li><a href="{{url_for('tutorpage') }}">OUR TUTORS</a></li>
                </ul>
              </div>
              <i class="fa fa-bars" onclick="showMenu()"></i>
          </nav>
          <h10> Our Tutors </h10>
      </section>

<!------------ Tutor list --------------->



<!--------JavaScript for Toggle Menu------->
<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
      </script>

{% endblock %}